<%!
    from django.utils.translation import ugettext as _, get_language
    from edraak_bayt.utils import check_user_publish
    from edraak_misc.utils import is_certificate_allowed
%>

<%page args="course" />

% if is_certificate_allowed(user, course):
    <a href="#certificate-modal" class="email-settings issue_certificate" rel="leanModal" data-course-id="${course.id}"
       data-course-number="${course.number}"
       onclick="EdraakDisplayBaytPopUp('${course.display_name_with_default.replace('"', '')}', '${course.id}');">

    % if get_language() == 'ar':
        إصدار الشهادة
    % else:
        issue certificate
    % endif
    </a>
% endif
