<%page args="cert_status, course_overview, enrollment" />

<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>

% if cert_status['show_disabled_download_button'] or cert_status['show_download_url'] or cert_status['show_survey_button']:
  % if cert_status['show_disabled_download_button']:
    <span class="issue-certificate">${_("Your Certificate is Generating")}</span>
  % elif cert_status['show_download_url'] and cert_status.get('show_cert_web_view', False):
    <a class="issue-certificate" href="${cert_status['cert_web_view_url']}" target="_blank"
       title="${_('This link will open the certificate web view')}">${_("Issue Certificate")}</a>
  % endif
% endif

