<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
    from edraak_bayt.utils import check_user_publish
%>

<%inherit file="../main.html" />

<%block name="pagetitle">
    ${_("Please wait...")}
</%block>

<%block name='bodyclass'>certificate-issue</%block>

<section class="container issue-certificate-wait">
  <section class="message">
    <h1 class="valid">
        ${_("Please wait...")}
    </h1>
    <hr class="horizontal-divider">

    <p>
        <span class="loading-animation"></span>
        <br />
        ${_("We are calculating your grades. This may take up-to one minute.")}
    </p>
  </section>
</section>

<%block name="jsextra">
  <script type="text/javascript">
    // Keep certificate status on check.
    setInterval(function () {
      $.ajax({
        url: "${reverse('edraak_certificates_check_status', args=[course_id])}",
        method: 'GET',
        success: function(response) {
          console.log(response);
          if(response['is_downloadable']) {
            location.reload();
          }
        },
      })
    }, 2000);
  </script>
</%block>
