<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
    from edraak_bayt.utils import check_user_publish
%>

<%inherit file="../main.html" />

<%block name="pagetitle">
    ${_("Course Completion Certificate")}
</%block>

<%block name='bodyclass'>certificate-issue</%block>

<section class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="row">
                    <h1>
                        ${_("Course Completion Certificate")}
                    </h1>
                    <a class="preview-certificate"
                       href="${reverse('edraak_certificates_download', args=[cert_course.id])}">
                        <img src="${reverse('edraak_certificates_preview', args=[cert_course.id])}"
                             width="445" height="315"/>
                    </a>

                    <p>
                        ${_("Please note that the certificate will be issued with your full name on it as provided "
                            "on your {link_start}account settings{link_end}.").format(
                              link_start='<a target="_blank" href="{}">'.format(reverse('account_settings')),
                              link_end='</a>',
                        )}
                    </p>

                    <p>
                        ${_("Please double check your name. We prefer "
                            "that the name is written in the same language you're issuing the certificate "
                            "with. To change it, go to the {link_start}account settings{link_end} and edit "
                            "your full name.").format(
                              link_start='<a target="_blank" href="{}">'.format(reverse('account_settings')),
                              link_end='</a>',
                        )}
                    </p>

                    <form action="${reverse('edraak_certificates_download', args=[cert_course.id])}" method="get">
                        <p>
                            <br/>
                            <button type="submit" class="download-button">${_('Download as PDF')}</button>
                        </p>
                    </form>

                    <hr />

                    <p>
                        % if check_user_publish(user.id, cert_course.id):
                            <small>
                                <em>${_("Already posted to Bayt.com")}</em>
                            </small>
                            <br />
                        % else:
                            <a href="#bayt-modal" rel="leanModal"
                                class="share-option">
                                ${_('Post to Bayt.com')}
                            </a>
                        % endif
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    jQuery(function ($) {
        $("#bayt_form").submit(function () {
            var bayt_email = $('#bayt_email').val();
            var course_name = $('#course_name').val();
            var course_id = $('#course_id').val();
            var user_id = $('#user_id').val();
            var cert_end = $('#cert_end').val();
            $.post('${reverse('edraak_bayt_get_student_email')}', {
                "bayt_email": bayt_email,
                "course_name": course_name,
                "user_id": user_id,
                "course_id": course_id,
                "cert_end": cert_end
            }, function (data) {
                if (data.success) {
                    if (data.redirect_to) {
                        window.location.replace(data.redirect_to);
                    } else {
                        $(".close-modal").click();
                        location.reload();
                    }
                } else {
                    $("#bayt_error").text(data.error).stop().css("display", "block");
                }
            });
            return false;
        });
    });
</script>

<section id="bayt-modal" class="modal bayt-modal" aria-hidden="true">
    <div class="inner-wrapper" role="alertdialog" aria-labelledy="bayt-modal-title">
        <button class="close-modal">
            <i class="icon-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_('Close')}
      </span>
        </button>

        <header>
            <h2 id="bayt-modal-title" class="bayt-passed">
                ${_("Do you want to post your certificate on Bayt?")}
            </h2>
            <hr/>
        </header>

        <form id="bayt_form" class="bayt-passed">
            <div id="bayt_error" class="modal-form-error"></div>
            <div>
                <label style="margin-bottom: 20px;">
                    ${_("Enter or Confirm your Bayt email")}.<br/>
                    <span style="font-size: 14px; font-style: italic">
                        ${_("This will post the course completed on your Bayt CV.")}
                    </span>
                </label><br>
                <label>
                    ${_("Bayt Email")}:
                </label>
                <input type="email" id="bayt_email" name="bayt_email" value="${user.email | h}">
                <input type="hidden" id="user_id" name="user_id" value="${user.id | h}">
                <input type="hidden" id="course_name" name="course_name" value="${cert_course.display_name | h}">
                <input type="hidden" id="course_id" name="course_id" value="${cert_course.id | h}">
                <input type="hidden" id="cert_end" name="cert_end" value="${cert_end | h}">
            </div>
            <div class="submit">
                <input name="submit" type="submit" value="${_('Post')}"/>
            </div>
        </form>
    </div>
</section>

<section id="error-modal" class="modal bayt-modal" aria-hidden="true">
    <div class="inner-wrapper" role="alertdialog" aria-labelledy="bayt-modal-title">
        <button class="close-modal">
            <i class="icon-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_('Close')}
      </span>
        </button>

        <header>
            <h2 id="bayt-modal-title" class="bayt-passed">
                ${_("Do you want to post your certificate on Bayt?")}
            </h2>
            <hr/>
        </header>

        <form id="bayt_form" class="bayt-passed">
            <div id="bayt_error" class="modal-form-error"></div>
            <div>
                <label style="margin-bottom: 20px;">
                    ${_("Enter or Confirm your Bayt email")}.<br/>
                    <span style="font-size: 14px; font-style: italic">
                        ${_("This will post the course completed on your Bayt CV.")}
                    </span>
                </label><br>
                <label>
                    ${_("Bayt Email")}:
                </label>
                <input type="email" id="bayt_email" name="bayt_email" value="${user.email | h}">
                <input type="hidden" id="user_id" name="user_id" value="${user.id | h}">
                <input type="hidden" id="course_name" name="course_name" value="${cert_course.display_name | h}">
                <input type="hidden" id="course_id" name="course_id" value="${cert_course.id | h}">
                <input type="hidden" id="cert_end" name="cert_end" value="${cert_end | h}">
            </div>

            <div class="submit">
                <input name="submit" type="submit" value="${_('Post')}"/>
            </div>
        </form>
    </div>
</section>
