<%inherit file="base.html" />
<%def name="online_help_token()"><% return "split-tests" %></%def>
<%namespace name='static' file='static_content.html'/>
<%! import json %>
<%! from django.utils.translation import ugettext as _ %>

<%block name="title">${_("Group Configurations")}</%block>
<%block name="bodyclass">is-signedin course view-group-configurations</%block>

<%block name="header_extras">
% for template_name in ["show-group-configurations", "no-group-configurations", "basic-modal", "modal-button"]:
  <script type="text/template" id="${template_name}-tpl">
    <%static:include path="js/${template_name}.underscore" />
  </script>
% endfor
</%block>

<%block name="jsextra">
<script type="text/javascript">
window.CMS = window.CMS || {};
CMS.URL = CMS.URL || {};
CMS.URL.TEXTBOOKS = "${split_test_url}"
CMS.URL.LMS_BASE = "${settings.LMS_BASE}"
require(["js/models/section", "js/collections/group_configuration", "js/views/list_group_configurations"],
        function(Section, GroupConfigurationCollection, ListConfigurationsView) {
  var split_tests = new GroupConfigurationCollection(${json.dumps(split_tests)}, {parse: true});
  var tbView = new ListConfigurationsView({collection: split_tests});

  $(function() {
      $(".content-primary").append(tbView.render().el);
      $(".nav-actions .new-button").click(function(e) {
          tbView.addOne(e);
      })
      $(window).on("beforeunload", function() {
          var dirty = split_tests.find(function(split_test) { return split_test.isDirty(); });
          if(dirty) {
              return "${_('You have unsaved changes. Do you really want to leave this page?')}";
          }
      })
  })
});
</script>
</%block>

<%block name="content">
  <div class="wrapper-mast wrapper">
    <header class="mast has-actions has-subtitle">
      <h1 class="page-header">
        <small class="subtitle">${_("Content")}</small>
        <span class="sr">&gt; </span>${_("Group Configurations")}
      </h1>

      <nav class="nav-actions">
        <h3 class="sr">${_("Page Actions")}</h3>
        <ul>
          <li class="nav-item">
            <a href="#" class="button new-button"><i class="icon-plus"></i> ${_("New Group Configuration")}</a>
          </li>
        </ul>
      </nav>
    </header>
  </div>

  <div class="wrapper-content wrapper">
    <section class="content">
      <article class="content-primary" role="main">

      </article>
      <aside class="content-supplementary" role="complimentary">
        <div class="bit">
          <h3 class="title-3">${_("Why should I break my group configuration into groups?")}</h3>
          <p>${_("Breaking your group configuration into multiple groups reduces loading times for students, especially those with slow Internet connections. Breaking up group configurations into groups can also help students more easily find topic-based information.")}</p>
        </div>
        <div class="bit">
          <h3 class="title-3">${_("What if my book isn't divided into groups?")}</h3>
          <p>${_("If your group configuration doesn't have individual groups, you can upload the entire text as a single chapter and enter a name of your choice in the Group Name field.")}</p>
          <p><a href="${get_online_help_info(online_help_token())['doc_url']}" target="_blank">${_("Learn More")}</a></p>
        </div>
      </aside>
    </section>
  </div>
</%block>
