language: python

notifications:
  email: false
  
python:
  - "2.7"
  
before_install:
  # Setup anaconda
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes conda
  # The next couple lines fix a crash with multiprocessing on Travis and are not specific to using Miniconda
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm
  
install:
  - pip install -r requirements/edx/paver.txt
  - pip install python-memcached
  - pip install scipy==0.11.0

# Install packages
install:
  - conda install --yes python=$TRAVIS_PYTHON_VERSION numpy scipy
  - python setup.py install
 
script:
  - paver test
