// LMS - assets - fonts
// ====================

// Open Sans "Webfont Kit" - http://www.fontsquirrel.com/fonts/open-sans
// No subsetting.
// Fonts included:
// Open Sans Light, Open Sans Light Italic, Open Sans Regular, Open Sans Italic
// Open Sans Semibold, Open Sans Semibold Italic, Open Sans Bold, Open Sans Bold Italic
// Font not included:  Open Sans Extrabold, Open Sans Extrabold Italic

@font-face {
    font-family: 'open_sansbold';
    src: url('static/fonts/OpenSans-Bold-webfont.eot');
    src: url('static/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('static/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('static/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('static/fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('static/fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('static/fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('static/fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('static/fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('static/fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('static/fonts/OpenSans-Italic-webfont.eot');
    src: url('static/fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('static/fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('static/fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('static/fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('static/fonts/OpenSans-Light-webfont.eot');
    src: url('static/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('static/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('static/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('static/fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('static/fonts/OpenSans-LightItalic-webfont.eot');
    src: url('static/fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('static/fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('static/fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('static/fonts/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('static/fonts/OpenSans-Regular-webfont.eot');
    src: url('static/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('static/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('static/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('static/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('static/fonts/OpenSans-Semibold-webfont.eot');
    src: url('static/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('static/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('static/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('static/fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('static/fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('static/fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('static/fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('static/fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('static/fonts/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
