## mako

<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
    from django.conf import settings
    from markdown import markdown
%>
<%block name="bodyclass">view-in-course view-university-id</%block>

<%block name="headextra">
    <%static:css group='style-course-vendor'/>
    <%static:css group='style-course'/>
</%block>


<%block name="pagetitle">${_("{course_number} Student University ID").format(course_number=course.display_number_with_default) | h}</%block>
<%block name="nav_skip">#course-university-id</%block>

<%include file="/courseware/course_navigation.html" args="active_page='university_id'" />


<div class="container">
    <div class="profile-wrapper">
        <div class="university-id" id="course-university-id" aria-label="${_('Student University ID')}">
            <form class="university-id-form" method="post">
                <h1>${_('Student University ID')}</h1>

                <div class="form-help">
                    % if form_is_disabled:
                        <p>
                            ${_('Registration has ended. Contact your course instructor for help.')}
                        </p>

                    % elif has_valid_information and not form_is_disabled:
                        <p>
                            ${_('The information below have been successfully submitted '
                                'to your university coordinator.')}
                        </p>

                        <p>
                            ${_('You can review and change the information up till registration ends.')}
                        </p>

                    % else:
                        <p class="important">
                            ${_('Your university information is needed for your grade reports. '
                                'Please enter the required information, and verify it is correct.')}
                        </p>
                    % endif
                </div>

                <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">

                <hr />

                <div class="fields">
                    ${form.as_div()}
                </div>

                <hr />

                <h3>${_('Terms and Conditions')}</h3>
                %if terms_conditions:
                    ${terms_conditions | markdown }
                %endif
                <br>

                % if terms_and_conditions_read and form_is_disabled:
                <input type="checkbox" name = "terms_and_conditions_read" value="true" disabled checked required><label>${_(' I have read and agree with the above terms and conditions.')}</label>
                 %elif terms_and_conditions_read:
                <input type="checkbox" name = "terms_and_conditions_read" value="true"  checked required><label>${_(' I have read and agree with the above terms and conditions.')}</label>
                %elif form_is_disabled:
                <input type="checkbox" name = "terms_and_conditions_read" value="true" disabled required><label>${_(' I have read and agree with the above terms and conditions.')}</label>
                %else:
                <input type="checkbox" name = "terms_and_conditions_read" value="true" required><label>${_(' I have read and agree with the above terms and conditions.')}</label>
                %endif

                % if form_is_disabled:
                    <input class="submit" type="submit" value="${_('Submit')}" disabled>
                % else:got
                    <input class="submit" type="submit" value="${_('Submit')}">
                % endif
            </form>
        </div>
    </div>
</div>

