
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Register for {platform_name}").format(
    platform_name=platform_name,
)}</%block>

<%block name="js_extra">
    <script src="${static.url('js/vendor/underscore-min.js')}"></script>
    <script src="${static.url('js/vendor/underscore.string.min.js')}"></script>
    <script src="${static.url('js/vendor/backbone-min.js')}"></script>
    <script src="${static.url('js/vendor/url.min.js')}"></script>
    <script src="${static.url('js/vendor/history.js')}"></script>
    <%static:js group='student_account'/>
</%block>

<%block name="header_extras">
    % for template_name in ["account", "access", "form_field", "login", "institution_login", "institution_register", "password_reset", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />
        </script>
    % endfor

    <script type="text/template" id="register-tpl">
        <%static:include path="edraak_forus/register.underscore" />
    </script>
</%block>

<style>
    /* TODO: Move this into a CSS file */
    .form-field[class*=hidden] {
        display: none;
    }
    
    .toggle-form {
        display: none;
    }

    .forus-notes {
        margin-bottom: 20px;
    }

    .forus-notes p {
        font-size: .85em;
        margin-top: 0;
        margin-bottom: 10px;
    }
</style>
<div class="section-bkg-wrapper">
    <div id="login-and-registration-container"
        class="login-register"
        data-initial-mode="${initial_mode}"
        data-next-url='${login_redirect_url|h}'
        data-platform-name='${platform_name}'
        data-registration-form-desc='${registration_form_desc|h}'
    ></div>
</div>

% if settings.FEATURES.get('ENABLE_COMBINED_LOGIN_REGISTRATION'):
    ## This overwrites the "footer" block declared in main.html
    ## with an empty block, effectively hiding the footer
    ## from logistration pages.
    <%block name="footer"/>
% endif
