<%page args="show_enroll_banner, url_to_enroll"/>
<%namespace name='static' file='/static_content.html'/>
<%!
    from django.utils.translation import ugettext as _
%>

% if show_enroll_banner:
  <div class="wrapper-msg urgency-low" id="failed-verification-banner">
    <div class="msg msg-reverify is-dismissable">
      <div class="msg-content">
        <h2 class="title">${_("You are not enrolled yet")}</h2>
        <div class="copy">
          <p class='enroll-message'>
            ${_(u"You are not currently enrolled in this course. {link_start}Sign up now!{link_end}").format(
            link_start=u"<a href={}>".format(url_to_enroll),
            link_end=u"</a>"
            )}
          </p>
        </div>
      </div>
    </div>
  </div>
% endif
