## mako

<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
    from django.conf import settings
%>
<%block name="bodyclass">view-in-course view-university-id-list</%block>

<%block name="headextra">
    <%static:css group='style-course-vendor'/>
    <%static:css group='style-course'/>
</%block>


<%block name="pagetitle">${_("List of University IDs for {course_number}").format(course_number=course.display_number_with_default) | h}</%block>
<%block name="nav_skip">#course-university-id</%block>

<%include file="/courseware/course_navigation.html" args="active_page='university_id'" />

<div class="container">
    <div class="course-wrapper profile-wrapper">
        <div class="university-id" id="course-university-id" aria-label="${_('University ID')}">
            <h1>${_('Edraak University IDs')}</h1>

            <hr />

            <table class="instructor-list">
                <thead>
                    <tr>
                        <th>${_('Username')}</th>
                        <th>${_('University ID')}</th>
                        <th>${_('Full Name')}</th>
                        <th>${_('Email')}</th>
                        <th>${_('Section Number')}</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                % for object in object_list:
                    <tr class="${'conflicted' if object.is_conflicted else ''}">
                        <td>${object.user.username | h}</td>
                        <td>
                            ${object.university_id | h}

                            % if object.is_conflicted:
                              <span title="${_('This university ID is a duplicate.')}">(*)</span>
                            % endif
                        </td>
                        <td>${object.get_full_name() | h}</td>
                        <td>${object.get_email() | h}</td>
                        <td>${object.section_number | h}</td>
                        <td>
                            <a href="${reverse('edraak_university_id_update', args=[course.id, object.pk])}">
                                ${_('Edit')}
                            </a>
                        </td>

                        <td>
                            <a href="${reverse('edraak_university_id_delete', args=[course.id, object.pk])}">
                                ${_('Delete')}
                            </a>
                        </td>
                    </tr>
                % endfor

                % if not len(object_list):
                    <tr>
                        <td colspan="6">
                            ${_('No student have entered his/her university ID yet.')}
                        </td>
                    </tr>
                % endif
            </table>
        </div>
    </div>
</div>
