// LMS -- views -- Edraak University ID pages
// ====================

// Student View Styles
.university-id {
  padding: $baseline*2;

  .form-help {
    margin: $baseline 0;
  }

  .important {
    color: $red;
  }

  .fields {
    label {
      display: block;
      margin-top: $baseline;
      font-weight: bold;
    }

    input {
      display: block;
      width: 400px;
    }

    .helptext {
      display: block;
      margin-top: $baseline/2;
    }

    .errorlist {
      color: $red;
    }

    textarea  {
      height: 100px;
    }
  }

  .terms {
    height: 200px;
    border: 1px solid #ccc;
    overflow: auto;
    padding: 20px;
    margin-top: 10px;
    line-height: 1.5em;
  }
  .submit {
    margin: $baseline 0;
  }

  // Instructor View Styles
  .dataTables_filter {
    input {
      font-size: 14px;
      padding: 2px 1px;
      margin: 2px 4px 8px;
    }
  }

  table.instructor-list {
    border-spacing: 1px;
    border-collapse: separate;
    border: 1px solid $light-gray2;

    font-size: 14px;
    table-layout: auto;
    width: 100%;
    clear: both;
    margin-top: 10px;

    thead {
      .sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled {
        @include rtl {
          background-position: center left;
        }
      }
    }

    tr {
      th, td {
        border: 1px solid $light-gray2;
        padding: $baseline/4 $baseline;
        vertical-align: middle;
        width: unset !important;
        text-align: center;
      }

      &.conflicted {
        background-color: $highlight-color;
      }
    }
  }

  .dataTables_info,
  .dataTables_paginate {
    font-size: 14px;
    margin: 10px 8px 0;
  }
  &.university-id-settings {
    padding: 0 $baseline*2 0;
  }
}

.ui-datepicker {
  background: $white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 0;

  .ui-widget-header {
    background: #1ca3a6;
    border-radius: 2px;

    a  {
      color:transparent;
    }
  }

   .ui-datepicker-next,
   .ui-datepicker-prev {
     &.ui-state-hover {
       border-color: transparent;
       background: $mediumGrey;
       .ui-icon-circle-triangle-e,
       .ui-icon-circle-triangle-w {
           background-image: url(../css/vendor/ui-lightness/images/ui-icons_ffffff_256x240.png);
       }
     }
   }

   .ui-state-highlight {
     background: rgb(197, 207, 223);
     border-color: rgb(197, 207, 223);
     color: $white;
   }

   .ui-state-active, .ui-state-hover {
     background: $blue;
     border-color: $blue;
     color: $white;
   }
 }

 .ui-widget {
   @extend %t-copy-base;
 }

 .ui-widget-header {
   border:none;
 }
