<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='../static_content.html'/>

<%inherit file="../main.html" />

<%block name="title"><title>Contact edX</title></%block>
<%block name="js_extra">
  <script type="text/javascript">
    $(document).ready(function() {
        $('#feedback-form').submit(function() {
          $.ajax({  
            type: "POST",  
            url: "/feedback",  
            dataType: 'json',
            data: $('#feedback-form').serialize(),  
            success:  function(data) {  
              if (data.error) {
                $('.message').html(data.error);
                $('.message').removeClass('message-success');
                $('.message').addClass('is-shown message-error');
                $('.field').removeClass('has-error');
                if (data.error == 'Invalid email') {
                  $('#field-email').addClass('has-error');
                }
                else if (data.error == 'Message invalid') {
                  $('#field-description').addClass('has-error'); 
                }

              } else if (data.success) {
                $('.field').removeClass('has-error');
                $('.message').html('Thank you! - Your question has been submitted');
                $('.message').addClass('message-success is-shown');
                $('#description').val('');
                $('#email').val('');
              }
            },  
            error: function() {
              
            },
          });  
          return false;
        });
    });
  </script>

</%block>


<section class="container about">
  <nav>
    <a href="${reverse('about_edx')}">Vision</a>
    <a href="${reverse('faq_edx')}">Faq</a>
    <a href="${reverse('press')}">Press</a>
    <a href="${reverse('contact')}" class="active">Contact</a>
  </nav>

  <section class="contact">
    <div class="photo">
      <img src="${static.url('images/contact-page.jpg')}">
    </div>
    <div class="contacts">

      <div class="contact-type">
        <h2>Class Feedback</h2>
        <p>We are always seeking feedback to improve our courses. If you are an enrolled student and have any questions, feedback, suggestions, or any other issues specific to a particular class, please post on the discussion forums of that&nbsp;class.</p>  
      </div>

      <div class="contact-type">
        <h2>General Inquiries and Feedback</h2>
        <p>If you have a general question about edX please email <a href="mailto:info@edx.org">info@edx.org</a>. To see if your question has already been answered, visit our <a href="${reverse('faq_edx')}">FAQ page</a>. You can also join the discussion on our <a href="http://www.facebook.com/EdxOnline">Facebook page</a>. Though we may not have a chance to respond to every email, we take all feedback into consideration.</p>
      </div>
      
      <div class="contact-type">
        <h2>Media</h2>
        <p>Please visit our <a href="${reverse('press')}">media/press page</a> for more information. For any media or press enquiries, please email <a href="mailto:press@edx.org">press@edx.org</a>.</p>        
      </div>

      <div class="contact-type">
        <h2>Universities</h2>
        <p>If you are a university wishing to collaborate or with questions about edX, please email <a href="mailto:university@edx.org">university@edx.org</a>.</p>
      </div>

      <div class="contact-type">
        <h2>Technical Issues, Inquiries, and Feedback</h2>
        
        <p class="instructions">In order for us to help address any technical questions you may have, please complete the following form.</p>

        <form role="form" id="feedback-form" >

          <div class="message">
            We're sorry, there was an error in your submission.
          </div>

          <fieldset>
            <legend class="sr">Technical Issues, Inquiries, and Feedback Form</legend>

            <ol class="list-input">
              <li class="field required text email" id="field-email">
                <label for="email">Your E-mail Address</label>
                <input type="email" class="" id="email" name="email" value="" placeholder="jane.doe@gmail.com" />
              </li>

              <li class="field required select" id="field-type">
                <label for="type">Why Are You Contacting Us Today?</label>
                <select name="category" id="type">
                  <option value="general">General Question</option>
                  <option value="account">Account Issue</option>
                  <option value="issue">Site Issue</option>
                  <option value="other">Other</option>
                </select>
              </li>

              <li class="field text textarea required" id="field-description">
                <label for="description">Please provide any relevant details that will help us with your question/issue</label>
                <textarea name='description' id="description" placeholder="Technology/browsers used, pages or parts of the edX sites/apps, or specific scenarios you may have encountered with your question/issue"></textarea>
              </li>
            </ol>
          </fieldset>

          <div class="form-actions">
            <button name="submit" type="submit" id="submit" class="action action-primary" >Submit Your Technical Question</button>
          </div>
        </form>
      </div>

    </div>
  </section>
</section>

<%block name="jsextra">
  <script type="text/javascript">
    $(document).ready(function(){
    
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").addClass("is-focused");
      }).blur(function() {
        $("label").removeClass("is-focused");
        });
    });
      
  </script>
</%block>
