<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='../static_content.html'/>

<%inherit file="../main.html" />

<%block name="title"><title>Contact edX</title></%block>

<section class="container about">
  <nav>
    <a href="${reverse('about_edx')}">Vision</a>
    <a href="${reverse('faq_edx')}">Faq</a>
    <a href="${reverse('press')}">Press</a>
    <a href="${reverse('contact')}" class="active">Contact</a>
  </nav>

  <section class="contact">
    <div class="photo">
      <img src="${static.url('images/contact-page.jpg')}">
    </div>
    <div class="contacts">
      <h2>Class Feedback</h2>
      <p>We are always seeking feedback to improve our courses. If you are an enrolled student and have any questions, feedback, suggestions, or any other issues specific to a particular class, please post on the discussion forums of that&nbsp;class.</p>

      <h2>General Inquiries and Feedback</h2>
      <p>If you have a general question about edX please email <a href="mailto:info@edx.org">info@edx.org</a>. To see if your question has already been answered, visit our <a href="${reverse('faq_edx')}">FAQ page</a>. You can also join the discussion on our <a href="http://www.facebook.com/EdxOnline">Facebook page</a>. Though we may not have a chance to respond to every email, we take all feedback into consideration.</p>

      <h2>Media</h2>
      <p>Please visit our <a href="${reverse('press')}">media/press page</a> for more information. For any media or press enquiries, please email <a href="mailto:press@edx.org">press@edx.org</a>.</p>

      <h2>Universities</h2>
      <p>If you are a university wishing to collaborate or with questions about edX, please email <a href="mailto:university@edx.org">university@edx.org</a>.</p>
      <h2>Technical Inquiries and Feedback</h2>
    <form role="form" id="feedback-form" method="post" data-remote="true" action="/submit-feedback">
      <ul class="list-input">
        <li class="field required text" id="field-email">
          <label for="email">Name</label>
          <input class="" id="name" value="herpderp"  />
        </li>
        
        <li class="field required text" id="field-email">
          <label for="email">E-mail</label>
          <input class="" id="email" type="email" name="email" value="herp@derp" />
        </li>
        <li class="field required" id="field-type">
          <select id="field=-type">
            <option value="General Question">General Question</option>
            <option value="Account Issue">Account Issue</option>
            <option value="Site Issue">Site Issue</option>
          </select>
        </li>
        <li class="field text" id="field-problem">
          <label for="problem">Problem description</label>
          <textarea rows="8" cols="75"></textarea>
        </li>
        <button name="submit" type="submit" id="submit" >Submit Question</button>
      </ul>
    </form>


    </div>
  </section>
</section>

