<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%namespace name="content" file="/instructor/hint_manager_inner.html"/>


<%block name="headextra">
  <%static:css group='course'/>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.axislabels.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/jquery-jvectormap-1.1.1/jquery-jvectormap-1.1.1.min.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/jquery-jvectormap-1.1.1/jquery-jvectormap-world-mill-en.js')}"></script>
  <script type="text/javascript" src="${static.url('js/course_groups/cohorts.js')}"></script>

  <script>
    function setup() {
        field = $("#field-label").html()
        changed_votes = []
        $(".votes").on('input', function() {
            changed_votes.push($(this))
          });

        $("#hint-delete").bind("click", function(){
            var data_dict = {'op': 'delete hints',
                             'field': field}
            var i = 1
            $(".hint-select").each(function(){
                if ($(this).is(":checked")) {
                    data_dict[i] = [$(this).parent().attr("data-problem"), 
                                    $(this).parent().attr("data-answer"), 
                                    $(this).parent().attr("data-pk")];
                    i += 1
                }
            });
            $.ajax(window.location.pathname, {
                type: "POST", 
                data: data_dict,
                success: update_contents
            });
        });

        $("#update-votes").bind("click", function(){
            var data_dict = {'op': 'change votes',
                             'field': field}
            for (var i=0; i<changed_votes.length; i++) {
                data_dict[i] = [$(changed_votes[i]).parent().attr("data-problem"), 
                                $(changed_votes[i]).parent().attr("data-answer"), 
                                $(changed_votes[i]).parent().attr("data-pk"),
                                $(changed_votes[i]).val()];
            }
            $.ajax(window.location.pathname, {
                type: "POST", 
                data: data_dict,
                success: update_contents
            });        
        });

        $("#switch-fields").bind("click", function(){
            out_dict = {'op': 'switch fields',
                        'field': $(this).attr("other-field")};
            $.ajax(window.location.pathname, {
                type: "POST",
                data: out_dict,
                success: update_contents
              
              });
        });

        $(".submit-new-hint").bind("click", function(){
            problem_name = $(this).data("problem");
            hint_text = $(".submit-hint-text").filter('*[data-problem="'+problem_name+'"]').val();
            hint_answer = $(".submit-hint-answer").filter('*[data-problem="'+problem_name+'"]').val();
            data_dict = {'op': 'add hint',
                         'field': field,
                         'problem': problem_name,
                         'answer': hint_answer,
                         'hint': hint_text};
            $.ajax(window.location.pathname, {
                type: "POST",
                data: data_dict,
                success: update_contents
            });
        });

        $("#approve").bind("click", function(){
            var data_dict = {'op': 'approve',
                             'field': field}
            var i = 1
            $(".hint-select").each(function(){
                if ($(this).is(":checked")) {
                    data_dict[i] = [$(this).parent().attr("data-problem"), 
                                    $(this).parent().attr("data-answer"), 
                                    $(this).parent().attr("data-pk")];
                    i += 1
                }
            });
            $.ajax(window.location.pathname, {
                type: "POST", 
                data: data_dict,
                success: update_contents
            });
        });

        $(".problem-name").bind("click", function(){
            // When a user initially picks a problem.
            var data_dict = {
                'problem': $(this).attr("data-location"),
                'op': 'switch-fields',
                'field': 'mod_queue',
            };

        });
    }

    $(document).ready(setup);
    
    function update_contents(data, status, jqXHR) {
        $('.instructor-dashboard-content').html(data.contents);
        setup();

    }

  </script>

</%block>

<section class="container">
<div class="instructor-dashboard-wrapper">

    <section class="instructor-dashboard-content">
        ## This stuff gets replaced when ajax calls are made.
        <h1> Welcome to hint management </h1>
        <p> Pick a problem below: </p>
        % for location, name in problems:
            <p><a class="problem-name" data-location="${location}">
                ${name}
            </a></p>
        % endfor
    </section>

</div>
</section>
