// ------------------------------
// Open edX Certificates: Overrides

// About: Additional sass rules that must come at the end of the compilation for overriding purposes - either for temporary/specific developer styling needs or for known poorly scoped/written styling (aka shame CSS).

// #TEMP
// #DEVELOPERS
// #SHAME

// ------------------------------
// #TEMP
// ------------------------------

// ------------------------------
// #DEVELOPERS
// ------------------------------

// ------------------------------
// #SHAME
// ------------------------------

.certificate {
  .accomplishment-rendering {
    padding: 5rem;
    background: #fff url("../images/certificate_layout.png") no-repeat 50% 50%;
    background-size: cover;

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .certificate-container {
      .column {
        float: right;
        width: 50%;
      }
      .column-20 {
        width: 20%;
      }
      .column-80 {
        width: 80%;
      }

      .authorities {
        .organization {
          .platform-logo {
            margin: 0;
            width: 100%;
            padding: 0 1rem;
          }
          .organization-logo  {
            width: 80%;
          }

          .sponsor-logo {
            width: 70%;
          }
        }

        .accomplishment-orgs {
          margin-top: 4rem;
          margin-bottom: 0.5rem;

          .accomplishment-orgs-title {
            color: $cert-base-color;
            margin-bottom: 0;
            margin-top: 2rem;
            border-width: 0.075rem;
          }

          .wrapper-organization {
            width: 100%;
            margin-bottom: 2.5rem;
          }
        }

        .accomplishment-signatories {
          .signatory {
            width: 100%;
            .signatory-signature, .signatory-credentials{
              margin-bottom: 0;
              padding-bottom: 0;
            }

            .signatory-signature  {
              width: 7rem;
            }
          }
        }
      }

      .accomplishment-type {
        margin-bottom: 2rem;

        .certificate-header {
          text-align: left;

          .accomplishment-type-label {
            margin: 0 0 1rem;
            color: #e10043;
          }
        }
      }

      .accomplishment-sponsors  {
        margin-bottom: 0;

        .accomplishment-orgs-title {
          color: $cert-base-color;
          border-width: 0.075rem;
          margin-bottom: 0;
        }

        .wrapper-sponsors {
          width: 100%;
          .organization-logo {
            width: 10rem;
          }
        }
      }
      .wrapper-statement-and-signatories {
        margin: 5rem 0 0;

        .accomplishment-statement {
          text-align: left;
          border: 0;
          margin-bottom: 1.5rem;

          .accomplishment-statement-detail {
            font-size: 1rem;
            max-width: 70%;
            margin: 0;
          }

          .accomplishment-summary {
            margin-top: 4.5rem;
            margin-bottom: 1.5rem;
          }

          .accomplishment-summary, .accomplishment-course,
          .accomplishment-statement-detail, .accomplishment-recipient {
            width: 100%;
          }
        }
      }
    }
  }
}

// certificate - base + honor
.layout-accomplishment.certificate-honor {

  .accomplishment-rendering {

    .accomplishment-signatories {
      margin-bottom: 0;
      padding-bottom: 0;
      border: 0;
    }

    // show the fancy
    .accomplishment-signatories .signatory-signature,
    .accomplishment-type-symbol {
      display: block;
    }
  }
}
