// ------------------------------
// // Open edX Certificates: Utilities

// About: configuration, functions, variables, mixins, and general helpers for rendering.

// #VARIABLES
// #FUNCTIONS
// #MIXINS
// #HELPERS

// ------------------------------
// #VARIABLES
// ------------------------------
$em-base:       16; // deliberately sets bourbon-based em-base (http://bourbon.io/docs/#em-base)

// certificate characteristics
$cert-base-color: palette(grayscale-cool, dark);
$cert-distinguished-color: palette(primary, accent);

$cert-decorative-color: palette(grayscale-cool, light);
$cert-decorative-color-de-emphasized: palette(grayscale-cool, x-trans);
$cert-decorative-color-emphasized: palette(grayscale-cool, mid-light);

/* tajawal-regular - latin_arabic */
@font-face {
  font-family: 'tajawal';
  font-style: normal;
  font-weight: 400;
  src: url('../../certificates/fonts/Tajawal-font/tajawal-v3-latin_arabic-regular.eot'); /* IE9 Compat Modes */
  src: local('Tajawal'), local('Tajawal-Regular'),
       url('../../certificates/fonts/Tajawal-font/tajawal-v3-latin_arabic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../certificates/fonts/Tajawal-font/tajawal-v3-latin_arabic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../certificates/fonts/Tajawal-font/tajawal-v3-latin_arabic-regular.woff') format('woff'), /* Modern Browsers */
       url('../../certificates/fonts/Tajawal-font/tajawal-v3-latin_arabic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../certificates/fonts/Tajawal-font/tajawal-v3-latin_arabic-regular.svg#Tajawal') format('svg'); /* Legacy iOS */
}
/* tajawal-700 - latin_arabic */
@font-face {
  font-family: 'tajawal';
  font-style: normal;
  font-weight: 700;
  src: url('../../certificates/fonts/Tajawal-font/tajawal-v3-latin_arabic-700.eot'); /* IE9 Compat Modes */
  src: local('Tajawal Bold'), local('Tajawal-Bold'),
       url('../../certificates/fonts/Tajawal-font/tajawal-v3-latin_arabic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../certificates/fonts/Tajawal-font/tajawal-v3-latin_arabic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../certificates/fonts/Tajawal-font/tajawal-v3-latin_arabic-700.woff') format('woff'), /* Modern Browsers */
       url('../../certificates/fonts/Tajawal-font/tajawal-v3-latin_arabic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../certificates/fonts/Tajawal-font/tajawal-v3-latin_arabic-700.svg#Tajawal') format('svg'); /* Legacy iOS */
}

// typography: config - stacks
$font-family-serif: "tajawal", "Open Sans", serif;

// ------------------------------
// #FUNCTIONS
// ------------------------------

// ------------------------------
// #MIXINS
// ------------------------------

// ------------------------------
// #HELPERS
// ------------------------------
// don't link style me, bro!
%reset-link {
    border-bottom: none;
    padding: 0;

    &:hover, &:focus, &:active {
        border-bottom: 0;
    }
}

// visual dividers
%divider-1 {
    border-bottom-width: rem(4);
    border-bottom-style: solid;
}

%divider-2 {
    border-bottom-width: rem(2);
    border-bottom-style: solid;
}
