// studio - views - group-experiments
// ====================
.group-experiments {

  .content-primary, .content-supplementary {
    @include box-sizing(border-box);
    float: left;
  }

  .content-primary {
    width: flex-grid(9, 12);
    margin-right: flex-gutter();

    .no-group-experiments-content {
      @extend %ui-well;
      padding: ($baseline*2);
      background-color: $gray-l4;
      text-align: center;
      color: $gray;
    }

    .group-experiment {
      @extend %ui-window;
      position: relative;

      .view-group-experiment {
        padding: $baseline ($baseline*1.5);

        header {
          margin-bottom: 0;
          border-bottom: 0;
        }

        .group-experiment-title {
          @extend %t-title4;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: ($baseline*14);
          font-weight: bold;

          .group-toggle {
            display: inline-block;
            padding-left: $baseline;
          }
        }

        .group-experiment-info {
          color: $gray-l1;
          margin-left: $baseline;

          &.group-experiment-info-inline {
            display: table;
            width: 70%;
            margin: ($baseline/4) 0 ($baseline/2) $baseline;

            li {
              @include box-sizing(border-box);
              display: table-cell;
              margin-right: 1%;
            }
          }

          &.group-experiment-info-block {
            li {
              padding: ($baseline/4) 0;
            }
          }

          .group-experiment-label {
            text-transform: uppercase;
          }

          .group-experiment-description {
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .ui-toggle-expansion {
          @include transition(rotate .15s ease-in-out .25s);
          @include font-size(21);
          display: inline-block;
          width: ($baseline*0.75);
          vertical-align: baseline;
          margin-left: -$baseline;
        }

        &.is-selectable {
          cursor: pointer;

          &:hover {
            color: $blue;

            .ui-toggle-expansion {
              color: $blue;
            }
          }
        }

        .groups {
          margin-left: $baseline;
          margin-bottom: ($baseline*0.75);

          .group {
            @extend %t-copy-sub2;
            @include font-size(18);
            @include line-height(16);
            padding: ($baseline/7) 0 ($baseline/4);
            border-top: 1px solid $gray-l4;
            white-space: nowrap;

            &:first-child {
              border-top: none;
            }

            .group-name {
              overflow: hidden;
              text-overflow: ellipsis;
              display: inline-block;
              vertical-align: middle;
              width: 75%;
              margin-right: 5%;
            }

            .group-percent {
              display: inline-block;
              vertical-align: middle;
              width: 20%;
              color: $gray-l1;
              text-align: right;
            }
          }
        }
      }

      &:hover .actions {
        opacity: 1.0;
      }
    }
  }

  .content-supplementary {
    width: flex-grid(3, 12);
  }
}
