<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>

<script type="text/javascript">
    jQuery(function ($) {
        $('.post-to-bayt').click(function () {
            $('.post-to-bayt').addClass('disabled');
            $('.bayt-waiting').show();
            $('.bayt-fail').hide();
            $('.bayt-server-error').hide();
            $('.bayt-passed').hide();
            var course_id = $(this).attr('data-course-id');
            $.post("${reverse('edraak_check_student_grades')}", {'course_id': course_id}, function (data) {
                $('.post-to-bayt').removeClass('disabled');
                if (data.success) {
                    $('.bayt-waiting').hide();
                    $('.bayt-fail').hide();
                    $('.bayt-server-error').hide();
                    $('.bayt-passed').show();
                } else if (!data.success && !data.error) {
                    $('.bayt-waiting').hide();
                    $('.bayt-fail').show();
                    $('.bayt-server-error').hide();
                    $('.bayt-passed').hide();
                } else if (!data.success && data.error) {
                    $('.bayt-waiting').hide();
                    $('.bayt-fail').hide();
                    $('.bayt-server-error').show();
                    $('.bayt-passed').hire();
                }
            })
        });

        $("#bayt_form").submit(function () {
            var bayt_email = $('#bayt_email').val();
            var course_name = $('#course_name').val();
            var course_id = $('#course_id').val();
            var user_id = $('#user_id').val();
            $.post('${reverse('edraak_bayt_get_student_email')}', {
                    "bayt_email": bayt_email,
                    "course_name": course_name,
                    "user_id": user_id,
                    "course_id": course_id
                }, function (data) {
                    if (data.success) {
                        if (data.redirect_to) {
                            window.location.replace("${settings.BAYT_BASE | j}/en/register-j/");
                        } else {
                            $(".close-modal").click();
                            location.reload();
                        }
                    } else {
                        $("#bayt_error").text(data.error).stop().css("display", "block");
                    }
                });
            return false;
        });
    });
</script>


<section id="bayt-modal" class="modal bayt-modal" aria-hidden="true">
    <div class="inner-wrapper" role="alertdialog" aria-labelledy="bayt-modal-title">
        <button class="close-modal">
            <i class="icon-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_('Close')}
      </span>
        </button>

        <header>
            <h2 id="bayt-modal-title" class="bayt-passed" style="display: none">
                ## Translators: Edraak-specific
                ${_("Do you want to post your certificate on Bayt?")}
            </h2>

            <h2 class="bayt-waiting">
                ## Translators: Edraak-specific
                ${_("Please wait!")}
            </h2>

            <h2 class="bayt-server-error" style="display: none">
                ## Translators: Edraak-specific
                ${_("Error!")}
            </h2>

            <h2 class="bayt-fail" style="display: none">
                ## Translators: Edraak-specific
                ${_("You have not completed this course")}
            </h2>
            <hr/>
        </header>

        <p class="bayt-waiting">
            ## Translators: Edraak-specific
            ${_("We are calculating your grade. This may take up-tp one minute. Please wait!")}
        </p>

        <p class="bayt-server-error" style="display: none">
            ## Translators: Edraak-specific
            ${_("We have encountered an error while processing your request. Please contact the Edraak team for further information.")}
        </p>

        <p class="bayt-fail" style="display: none">
            ## Translators: Edraak-specific
            ${_("Unfortunately, you have not completed this course. You will not be able to post this to Bayt.1")}
        </p>

        <form id="bayt_form" class="bayt-passed" style="display: none">
            <div id="bayt_error" class="modal-form-error"></div>
            <div>
                <label style="margin-bottom: 20px;">
                    ## Translators: Edraak-specific
                    ${_("Enter or Confirm your Bayt email")}.<br/>
                    <span style="font-size: 14px; font-style: italic">
                        ## Translators: Edraak-specific
                        ${_("This will post the course completed on your Bayt CV.")}
                    </span>
                </label><br>
                <label>
                    ## Translators: Edraak-specific
                    ${_("Bayt Email")}:
                </label>
                <input type="email" id="bayt_email" name="bayt_email" value="${user.email}">
                <input type="hidden" id="user_id" name="user_id" value="${user.id}">
                <input type="hidden" id="course_name" name="course_name" value="">
                <input type="hidden" id="course_id" name="course_id" value=""></div>
            <div class="submit">
                ## Translators: Edraak-specific
                <input name="submit" type="submit" value="${_('Post')}"/>
            </div>
        </form>
    </div>
</section>