<%!
    from django.utils.translation import ugettext as _
    from edraak_bayt.utils import check_user_publish
    from edraak_misc.utils import is_certificate_allowed
    from edraak_forus.models import ForusProfile
%>

<%page args="course" />

% if is_certificate_allowed(user, course):
    <% is_forus_user = ForusProfile.is_forus_user(user) %>
    % if is_forus_user or not check_user_publish(user.id, course.id):
        <a href="#${'forus-or-bayt-modal' if is_forus_user else 'bayt-modal'}"
           class="email-settings post-to-bayt" rel="leanModal"
           data-course-id="${course.id}" data-course-number="${course.number}"
           onclick="EdraakDisplayPopUp('${course.display_name_with_default.replace('"', '')}', '${course.id}');">
            % if is_forus_user:
                ## Translators: Edraak-specific
                ${_("Share certificate")}
            % else:
                ## Translators: Edraak-specific
                ${_("Post to Bayt.com")}
            % endif
        </a>
    % else:
        <a class="email-settings" href="javascript:void(0)">
            ## Translators: Edraak-specific
            ${_("Already posted to Bayt")}}
        </a>
    % endif
% endif
