<%! from django.utils.translation import ugettext as _, get_language %>
<%! from django.core.urlresolvers import reverse %>
<script type="text/javascript">
    jQuery(function ($) {
        $('.post-to-bayt').click(function () {
            $('.post-to-bayt').addClass('disabled');
            $('.bayt-waiting').show();
            $('.bayt-fail').hide();
            $('.bayt-server-error').hide();
            $('.bayt-passed').hide();
            var course_id = $(this).attr('data-course-id');
            $.post("${reverse('edraak_check_student_grades')}",
                    { 'course_id': course_id },
                    function (data) {
                        $('.post-to-bayt').removeClass('disabled');
                        if (data.success) {
                            $('.bayt-waiting').hide();
                            $('.bayt-fail').hide();
                            $('.bayt-server-error').hide();
                            $('.bayt-passed').show();
                        }
                        else if (!data.success && !data.error) {
                            $('.bayt-waiting').hide();
                            $('.bayt-fail').show();
                            $('.bayt-server-error').hide();
                            $('.bayt-passed').hide();
                        }
                        else if (!data.success && data.error) {
                            $('.bayt-waiting').hide();
                            $('.bayt-fail').hide();
                            $('.bayt-server-error').show();
                            $('.bayt-passed').hire();
                        }
                    })
        });

        $("#bayt_form").submit(function () {
            var bayt_email = $('#bayt_email').val();
            var course_name = $('#course_name').val();
            var course_id = $('#course_id').val();
            var user_id = $('#user_id').val();
            $.post('${reverse('edraak_bayt_get_student_email')}',
                    {"bayt_email": bayt_email, "course_name": course_name, "user_id": user_id, "course_id": course_id},
                    function (data) {
                        if (data.success) {
                            if (data.redirect_to) {
                                window.location.replace("http://www.bayt.com/en/register-j/");
                            }
                            else {
                                $(".close-modal").click();
                                location.reload();
                            }
                        } else {
                                if (data.error == 'Invalid Email')
                            % if get_language() == 'ar':
                                $("#bayt_error").html('البريد الإلكتروني غير صحيح').stop().css("display", "block");
                            % else:
                                $("#bayt_error").html(data.error).stop().css("display", "block");
                            % endif
                        }
                    });
            return false;
        });
    });
</script>


<section id="bayt-modal" class="modal bayt-modal" aria-hidden="true">
    <div class="inner-wrapper" role="alertdialog" aria-labelledy="bayt-modal-title">
        <button class="close-modal">
            <i class="icon-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_('Close')}
      </span>
        </button>

        <header>
            <h2 id="bayt-modal-title" class="bayt-passed" style="display: none">
                % if get_language() == 'ar':
                    هل تريد نشر شهادتك على موقع Bayt ؟
                % else:
                    Do you want to post your certificate on Bayt?
                % endif
            </h2>

            <h2 class="bayt-waiting">
                % if get_language() == 'ar':
                    الرجاء الإنتظار...
                % else:
                    Please wait!
                % endif
            </h2>

            <h2 class="bayt-server-error" style="display: none">
                % if get_language() == 'ar':
                    حدث خطأ!
                % else:
                    Error!
                % endif
            </h2>

            <h2 class="bayt-fail" style="display: none">
                % if get_language() == 'ar':
                    لم تكمل هذا المساق
                % else:
                    You have Not completed this course
                % endif
            </h2>
            <hr/>
        </header>

        <p class="bayt-waiting">
            % if get_language() == 'ar':
                نحن نقوم بحساب علاماتك لهذا المساق. قد تأخذ هذه العملية حتى دقيقة واحدة.
            % else:
                We are calculating your grade. This may take up-tp one minute. Please wait!
            % endif
        </p>

        <p class="bayt-server-error" style="display: none">
            % if get_language() == 'ar':
                لقد وجهنا مشكلة في تنفيذ طلبك. الرجاء التواصل مع فريق إدراك لمزيد من المعلومات.
            % else:
                We have encountered an error while processing your request. Please contact the Edraak team for further
                information.
            % endif
        </p>

        <p class="bayt-fail" style="display: none">
            % if get_language() == 'ar':
                نأسف، لم تكمل في المساق. لن تتمكن من نشر هذا المساق على بيت.كوم.
            % else:
                Unfortunatley, you have not completed this course, you will not be able to post this to Bayt.
            % endif
        </p>

        <form id="bayt_form" class="bayt-passed" style="display: none">
            <div id="bayt_error" class="modal-form-error"></div>
            <div>
                <label style="margin-bottom: 20px;">
                    % if get_language() == 'ar':
                        أدخل البريد البريد الإلكتروني المستخدم أو الذي تريد استخدمه في Bayt<br/>
                        <span style="font-size: 14px; font-style: italic">سيتم نشر المساق الذي أتممته على سيرتك الذاتية على Bayt</span>
                    % else:
                        Enter or Confirm your Bayt email.<br/>
                        <span style="font-size: 14px; font-style: italic">This will post the course completed on your Bayt CV.</span>
                    % endif
                </label><br>
                <label>
                    % if get_language() == 'ar':
                        البريد الإلكتروني المستخدم أو تريد استخدامه على Bayt:
                    % else:
                        Bayt Email:
                    % endif
                </label>
                <input type="email" id="bayt_email" name="bayt_email" value="${user.email}">
                <input type="hidden" id="user_id" name="user_id" value="${user.id}">
                <input type="hidden" id="course_name" name="course_name" value="">
                <input type="hidden" id="course_id" name="course_id" value=""></div>
            <div class="submit">
                % if get_language() == 'ar':
                    <input name="submit" type="submit" value="أنشر الآن"/>
                % else:
                    <input name="submit" type="submit" value="Post"/>
                % endif
            </div>
        </form>
    </div>
</section>