<section id="poll_${element_id}"
         class="${element_class}"
         data-ajax-url="${ajax_url}"
         data-state="${state}" >

    <!-- hidden field to read configuration json from -->
    <div class="${element_class}_div" id="${element_id}_json"
        style="display: none;">
        ${configuration_json}
    </div>

    <!--main html -->
     ${element_html}

     <div id="poll-1" class="polls">
        <h3>What's the Right Thing to Do?</h4>
        <p>Suppose four shipwrecked sailors are
        stranded at sea in a lifeboat, without food or water. Would it be wrong
        for three of them to kill and eat the cabin boy,
        in order to save their own lives?
        </p>

        <div id="vote_block-1" class="vote_blocks">
            <ul>
                <li>
                    <input type="radio" id="poll-vote-1" name="vote_1" value="1" />
                    <label for="poll-answer-1">Yes</label>
                </li>
                <li>
                    <input type="radio" id="poll-vote-2" name="vote_2" value="2" />
                    <label for="poll-answer-2">No</label>
                </li>
            </ul>
        </div>

        <div class="submit-button">
            <input type="button" value="Cast Your vote" class=".submit-button" name="vote"/>
        </div>
    </div>
</section>
