// discussion - views - new post
// ====================

// OLD New Post Form styling - refactor before merge
.new-post-form {
  padding: ($baseline*2);
  box-sizing: border-box;

  // UI: form input fields
  .wrapper-field {
    margin-bottom: ($baseline/2);

    .field-label {
      display: inline-block;
      width: 49%;
      vertical-align: top;

      .field-label-name {
        display: inline-block;
        width:35%;
        vertical-align: bottom;
      }
      .field-label-input {
        display: inline-block;
      }
    }

    // UI: support text for input fields
    .field-help {
      display: inline-block;
      width: 49%;
      font-size: 12px;

      // CASE: question help
      .question {
        // temporary hiding until question feature is ready
        display: none;
      }
    }

    // UI: post options
    .new-post-option {
      border: 1px solid $gray;
      border-radius: 3px;
      padding: ($baseline/2) 0;
      margin: ($baseline/2) 0;

      .post-follow, .post-anonymous {
        display: inline-block;
        margin-left: ($baseline/2);
      }
    }

    .post-title {
     width: 95%;
    }
  }


  .new-post-body.editor {width: 96%;}
}


.new-post-form {
  @include clearfix;
  background: $gray-l5;
  box-shadow: 0 1px 2px $shadow inset;

  .form-row {
    margin-bottom: $baseline;
  }

  .new-post-body .wmd-input {
    @include discussion-wmd-input;
    @include box-sizing(border-box);
    position: relative;
    z-index: 1;
    width: 100%;
    height: 150px;
    background: $white;
  }

  .new-post-body .wmd-preview-container {
    @include discussion-new-post-wmd-preview-container;
  }

  .new-post-body .wmd-preview-label {
    @include discussion-wmd-preview-label;
  }

  .new-post-body .wmd-preview {
    @include discussion-wmd-preview;
  }

  .new-post-title {
    @include box-sizing(border-box);
    border: 1px solid $dark-gray;
    border-radius: 3px;
    padding: 0 ($baseline/2);
    width: 100%;
    height: 40px;
    box-shadow: 0 1px 3px $shadow inset;
    color: $dark-gray;
    font-weight: 700;
  }

  .submit {
    @include blue-button;
    float: left;
    margin-top: ($baseline/2);
    border-color: $dark-gray;
    padding-bottom: ($baseline/10);
    height: 37px;

    &:hover, &:focus {
      border-color: #222;
    }
  }

  .new-post-cancel {
    @include white-button;
    float: left;
    margin: ($baseline/2) 0 0 ($baseline*.75);
    border-color: #444;
  }

  .options {
    margin-top: ($baseline*2);

    label {
      display: inline;
      margin-left: ($baseline/2);
      color: $white;
      text-shadow: none;
      font-size: 15px;
    }
  }
}

.new-post-form .submit {
  @include blue-button;
  float: left;
  margin-top: ($baseline/2);
  padding-bottom: ($baseline/10);
}

.new-post-form .options {
  float: right;
  margin-top: $baseline;
  font-size: 14px;

  label {
    margin-left: ($baseline/5);
  }
}

// new post creation - refactor before merge
.new-post-form-errors {
  display: none;
  background: $error-red;
  padding: 0;
  border: 1px solid $dark-gray;
  list-style: none;
  color: $white;
  line-height: 1.6;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, .2);

  li {
    padding: ($baseline/2) $baseline 12px 45px;
    border-bottom: 1px solid #dc4949;
    background: url(../images/white-error-icon.png) no-repeat 15px 14px;

    &:last-child {
      border-bottom: none;
    }
  }
}

// Refactor before merge - from discussion.scss
.new-post-article {
  display: none;
  margin-top: 0px;

  .inner-wrapper {
    max-width: 1180px;
    min-width: 760px;
    margin: 0px;
  }

  .left-column {
    @include box-sizing(border-box);
    float: left;
    padding: ($baseline*2);
    width: 32%;

    .topic-dropdown-label {
      font-size: 22px;
      font-weight: 700;
      color: $white;
      text-shadow: none;
    }

    .form-topic-drop {
      position: relative;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }

    .form-group-label {
      display: block;
      padding-top: ($baseline/4);
      color: $white;
    }

    .topic_dropdown_button {
      @include white-button;
      position: relative;
      z-index: 1000;
      margin-top: 15px;
      border-color: #444;
      height: 40px;
      line-height: 36px;

      .drop-arrow {
        float: right;
        color: #999;
        line-height: 37px;
      }
    }

    .topic_menu_wrapper {
      display: none;
      position: absolute;
      top: $baseline*2;
      left: 0;
      z-index: 9999;
      width: 100%;
      @include box-sizing(border-box);
      background: #797979;
      border: 1px solid $dark-gray;
      box-shadow: 0 2px 50px rgba(0, 0, 0, .4);
    }

    .topic_menu {
      max-height: 400px;
      overflow-y: scroll;

      a {
        display: block;
        padding: ($baseline/2) 15px;
        border-top: 1px solid #5f5f5f;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        color: #eee;
        @include transition(none);

        &:hover, &:focus {
          background-color: #666;
        }

        .topic-menu-span {
          color: #eee;
        }
      }

      li li {
        a {
          padding-left: 39px;
          background: url(../images/nested-icon.png) no-repeat 17px 10px;
        }
      }

      li li li {
        a {
          padding-left: 63px;
          background: url(../images/nested-icon.png) no-repeat 41px 10px;
        }
      }
    }

    .topic_menu_search {
      padding: $baseline/2;
      border-bottom: 1px solid black;
    }

    .form-topic-drop-search-input {
      width: 100%;
      height: 30px;
      padding: 0 15px;
      @include box-sizing(border-box);
      border-radius: 30px;
      border: 1px solid $dark-gray;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .25) inset;
      background: -webkit-linear-gradient(top, #eee, $white);
      font-size: 11px;
      line-height: 16px;
      color: #333;
    }
  }

  .right-column {
    float: left;
    width: 68%;
    padding: ($baseline*2);
    @include box-sizing(border-box);
  }

  .wmd-button {
    background: none;
  }

  .wmd-button span {
    background: url(../images/new-post-icons-full.png) no-repeat;
  }
}
