// discussion - views - new post
// ====================

// UI: form - general new post creation
.new-post-form {
  @include clearfix;
  box-sizing: border-box;
  border-radius: 3px;
  padding: ($baseline*2);
  background: $gray-l5;

  // UI: form input fields
  .wrapper-field {
    margin-bottom: $baseline;

    .field-label {
      display: inline-block;
      width: 49%;
      vertical-align: top;

      // CASE: post options
      &.field-label-options {
        width: 100%;
      }

      .field-label-name {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 40px;
      }

      .field-label-input {
        display: inline-block;

        // CASE: post type buttons
        &.post-type {
          width: 70%;

          [class^="post-type-"] {
            @include linear-gradient(top, $white, $gray-l5);
            display: inline-block;
            border: 1px solid #aaa;
            border-radius: 3px;
            width: 48%;
            height: 40px;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px rgba(0, 0, 0, .15);
            color: $dark-gray;
            text-shadow: none;
            font-weight: 600;
            font-size: 13px;

            &:hover, &:focus {
              @include linear-gradient(top, $white, $gray-l6);
            }

            &:first-child {
              margin-right: 2%;
            }

            &.is-enabled {
              background-color: $forum-color-active-thread;
              background-image: none;
              box-shadow: 0 1px 1px rgba(0, 0,  0, 0.4) inset;
            }
          }
        }

        // CASE: post topic
        &.post-topic {
          width: 70%;
        }

        // CASE: post title
        .new-post-title {
          @include box-sizing(border-box);
          border: 1px solid $gray-l2;
          border-radius: 3px;
          padding: 0 $baseline/2;
          width: 100%;
          height: 40px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
          color: #333;
          font-weight: 700;
          font-size: 16px;
          font-family: 'Open Sans', sans-serif;
        }
      }
    }

    // UI: support text for input fields
    .field-help {
      display: inline-block;
      width: 49%;
      font-size: 12px;

      // CASE: question help
      .question {
        // temporary hiding until question feature is ready
        display: none;
      }
    }

    // UI: post options
    .new-post-option {
      @include box-sizing(border-box);
      display: inline-block;
      border-radius: 3px;
      padding: ($baseline/2) 0;
      margin: $baseline $baseline 0 0;

      &:hover {
        box-shadow: 0 0 2px $shadow-d2;
      }

      &.is-enabled {
        border: 1px solid $blue;

        &:hover {
          box-shadow: none;
        }

        .post-follow-label, .post-anonymous-label, .post-anonymous-to-peers-label {
          color: $blue;
        }

      }
      .post-follow, .post-anonymous {
        display: inline-block;
        margin-left: ($baseline/2);
      }

      .post-follow-label, .post-anonymous-label, .post-anonymous-to-peers-label {
        display: inline-block;
        margin: 0px ($baseline/2);

        .icon {
          margin-right: 8px;
        }
      }
    }

    .post-title {
     width: 96%;
    }
  }
}

// CASE: inline styling
.discussion-module .new-post-form {
  background: $white;
}


// ====================

// UI: actions - new post creation
.new-post-form {

  .submit {
    @include blue-button;
    float: left;
    margin-top: ($baseline/2);
    padding-bottom: ($baseline/10);
    height: 37px;

    &:hover, &:focus {
      border-color: #222;
    }
  }

  .new-post-cancel {
    @include white-button;
    float: left;
    margin: ($baseline/2) 0 0 ($baseline*.75);
  }
}

// ====================

// CASE: errors - new post creation
.new-post-form-errors {
  display: none;
  margin-bottom: $baseline;
  padding: 0;
  border-radius: 3px;
  background: $error-red;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, .2);
  color: $white;
  list-style: none;

  .new-post-form-error {
    padding: ($baseline/2) $baseline 12px 45px;
    border-bottom: 1px solid $red;
    background: url(../images/white-error-icon.png) no-repeat 15px 14px;

    &:last-child {
      border-bottom: none;
    }
  }
}

// ====================

// UI: topic dropdown - new post creation

// TO-DO: refactor to use _navigation.scss as general topic selector
.new-post-article {
  display: none;
  margin-top: 0px;

  .inner-wrapper {
    max-width: 1180px;
    min-width: 760px;
    margin: 0px;
  }

  .topic-dropdown-label {
    font-size: 22px;
    font-weight: 700;
    color: $white;
    text-shadow: none;
  }

  .form-topic-drop {
    position: relative;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .form-group-label {
    display: block;
    padding-top: ($baseline/4);
    color: $white;
  }

  .topic_dropdown_button {
    @include white-button;
    @extend %cont-truncated;
    position: relative;
    z-index: 1000;
    padding: 0 $baseline 0 ($baseline*.75);
    height: 40px;
    font-size: 14px;
    line-height: 36px;

    .drop-arrow {
      float: right;
      color: #999;
      line-height: 37px;
    }
  }

  .topic_menu_wrapper {
    @include box-sizing(border-box);
    position: absolute;
    top: ($baseline*2);
    left: 0;
    z-index: 9999;
    display: none;
    border: 1px solid $gray-l3;
    width: 100%;
    background: $white;
    box-shadow: 0 2px 1px $shadow;
  }

  .topic_menu {
    max-height: 400px;
    overflow-y: scroll;

    a {
      @include transition(none);
      display: block;
      padding: ($baseline/2) 15px;
      font-size: 14px;
      line-height: 18px;
      cursor: default;

      &:hover, &:focus {
        color: $link-color;
      }

      .topic-menu-span {
        color: #eee;
      }
    }
    a[data-discussion-id]:hover {
      background-color: $gray-l4;
    }

    li li {
      a {
        padding-left: 39px;
        background: url(../images/nested-icon.png) no-repeat 17px 10px;
      }
    }

    li li li {
      a {
        padding-left: 63px;
        background: url(../images/nested-icon.png) no-repeat 41px 10px;
      }
    }
  }
  .topic_menu_search {
    border-bottom: 1px solid $gray-l2;
    padding: ($baseline/4);
  }

  .form-topic-drop-search-input {
    @include box-sizing(border-box);
    border: 1px solid $gray-l3;
    padding: 0 15px;
    width: 100%;
    height: 30px;
    color: #333;
    font-size: 11px;
    line-height: 16px;
  }
}
